body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-color: #F1EFE5;
}

#showcase{
    overflow: hidden;
    min-height: 700px;
    background:url(hovedside.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.backto a{
    color:#E2BFCD;
}

#showcase h1{
    margin-top:57px;
    font-size:50px;
    color: #333333;
    float: center;
    text-align: center;
    font-family: 'Solway', serif;
}
 

#produkt{
    overflow: hidden;
    min-height:450px;
    background:url(produkt-01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#produkt h1{
    margin-top:100px;
    font-size:60px;
    margin-bottom:10px;
    color: #E2BFCD;
    float: center;
    text-align: center;
    padding-top: 50px;
    font-family: 'Solway', serif;
}
#produkt h2{
    margin-top:80px;
    font-size:60px;
    margin-bottom:10px;
    color: #333333;
    float: center;
    text-align: center;
    padding-top: 50px;
    font-family: 'Solway', serif;
}
#produkt img{
    height: 200px;
    width: 200px;
}

#Join{
    display: inline block;
    background-color: #333333;
    border-radius: 15px;
    color: #E2BFCD;
    font-size: 30px;
    width: 240px;
    height: 54px;
    align-content: center;
    border: none;
    margin-top: 100px;
    margin-bottom: 20px;
}

#Join:hover{
    display: inline block;
    background-color: #494949;
    color: #E2BFCD;
    font-size: 30px;
    width: 240px;
    height: 54px;
    text-align: center;
    border: none;
    align-content: center;
    margin-top: 100px;
}

#Join a{
    text-decoration: none;
    color: inherit;
    font-weight: lighter;
}
.container2{
    margin:auto;
    overflow:hidden;
    color: white;
    text-align: center;
}

header{
    background-color: #F1EFE5;
    position: relative;
    max-width: 900px;
    max-height: 120px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
}

.hovedside{
    overflow: hidden;
    width: 200px;
    height: 200px;
}

header img{
    height: 110px;
    line-height: 60px;
    padding: 0 20px;
    align-content: center;
    box-sizing: border-box;
    float: left;
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Solway', serif;

}

nav ul li a{
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    line-height: 40px;
    color: #333333;
}

nav ul li a:hover{
    color: #E2BFCD;
}

nav ul li a.active{
    color: #E2BFCD;
}

.rad1{
    overflow: hidden;
    min-height: 580px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    text-align: center;
}


.rad1 img{
    height: 540px;
    padding-top: 0;
    align-content: center;
}

.kartet{
    margin: 70px;
    font-family: 'Solway', serif;
    width: 67%;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 28px;
    margin-left: 120px;
    padding-top: 40px;
}

.location .link{
    color: #E2BFCD;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    line-height: 5px;
    font-style: italic;
    text-decoration: underline;
    text-align: left;
    margin-right: 120px;
}

.location{
    display: grid;
    padding-bottom: 100px;
    overflow: hidden;
}

.tekst{
    display: flex;
    flex-direction: row;
}

.location p{
    color: #333333;
}

.tekst .høyre{
    float: right;
    align-content: right;
}

.langtbilde{
    overflow: hidden;
    min-height: 540px;
    background:url(kake.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 1263px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.updates{
    overflow: hidden;
    min-height:450px;
    background:url(construction.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.updates h1{
        margin-top:40px;
        font-size:50px;
        margin-bottom:10px;
        color: #333333;
        float: center;
        text-align: center;
        padding-top: 30px;
        font-family: 'Solway', serif;
}

.updates p{
    margin-top: 200px;
    font-size:30px;
    color: #333333;
    float: center;
    text-align: center;
    font-family: 'Solway', serif;
}

.updates a{
    color: #E2BFCD;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
}

.historie{
    overflow: hidden;
}

.historie img{
    align-content: center;
    width: 200px;
    height: 150px;
    margin: 1px auto;
    display: block;
}

.historie p{
    margin-top: 48px;
    font-size: 20px;
    margin-bottom:100px;
    color: #333333;
    float: center;
    text-align: center;
    font-family: 'Solway', serif;
}

#about{
    overflow: hidden;
    background-color: #F1EFE5;
    min-height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 74% 26%;
}

#about img{
    width: 440px;
    height: 340px;
    padding-top: 80px;
}

#about p{
    font-size: 24px;
    color: #333333;
    letter-spacing: 0.1425em; 
    padding-top: 80px;
    padding-left: 60px;
    font-family: 'Solway', serif;
}

#about h1{
    margin-bottom: 5px;
    font-size:40px;
    float: center;
    padding-left: 20px;
    color: #a67c52;
}

.fremvisning img{
    overflow: hidden;
    width: 100%;
    height: 580px;
}

.fremvisning{
    padding-top: 60px;
    overflow: hidden;
}

footer{
    background: #333333;
    padding: 28px 0;
  }

footer p{
    color: #E2BFCD;
    font-family: 'Solway', serif;
}
  
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .logo{
    width: 180px;
    padding-left: 24px;
  }
  
  .social-media{
    margin: 10px 0;
  }
  
  .social-media a{
    color: #F1EFE5;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
    padding-left: 12px;
  }
  
  .social-media a:hover{
    color: #E2BFCD;
  }
  
  .right-col h1{
    font-size: 26px;
    color: #E2BFCD;
    font-family: 'Solway', serif;
  }
  
  .border{
    width: 100px;
    height: 4px;
    background: #E2BFCD;
  }
  
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }
  
  .btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #E2BFCD;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
    font-family: 'Solway', serif;
  }
  
  .btn:hover{
    opacity: .7;
  }

  nav .icon{
    color: #333333;
    font-size: 20px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
  
  .page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 60px;
    }

  
    .left-col{
      width: 100%;
      text-align: center;
    }
  }
  @media (max-width:800px) { 
  #produkt h1{
    font-size: 30px;
}
  
  @media screen and (max-width:700px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
  }

@media (max-width: 600px){
    nav ul li a{
        font-size: 11px;
    }
@media (max-width: 479px){
        nav ul li a{
            font-size: 6px;
        }
}
  

@media (max-width: 1200px)
{
    .fremvisning img{
        width: 100%;
    }
    .kartet{
        width: 50%;
    }
    .kom{
        width: 50%;
    }
    .about{
        width:100%;
    }
    .rad1 img{
        width: 100%;
    }

}

@media (max-width: 769px)
{
    }

    .rad1 img{
        width: 100%;
        height: 450px;
    }
}

@media (max-width: 650px)
{
.rad1 img{
    width: 100%;
    height: 300px;
}
}
